<form [formGroup]="userForm" (ngSubmit)="submit()" action="">
    <div class="form-group">
        <label for="name">Ingrese nombre completo</label>
        <input type="text" id="name" placeholder="Nombre Completo" [ngClass]="{'is-valid': name.valid, 'form-control': true}" formControlName="name">
        <small *ngIf="name.hasError('required') && (name.dirty || name.touched)" class="invalid-feedback d-block">
            El campo es obligatorio
        </small>
        <small *ngIf="name.hasError('pattern') && name.dirty" class="invalid-feedback d-block">
            El nombre no debe contener números
        </small>
        <small *ngIf="name.hasError('minlength') && name.dirty" class="invalid-feedback d-block">
            El nombre debe contener al menos dos letras
        </small>
    </div>
    <div class="form-group">
        <label for="ci">Cédula</label>
        <input type="text" id="ci" placeholder="Ingrese cédula" [ngClass]="{'is-valid': ci.valid, 'form-control': true}" formControlName="ci">
        <small *ngIf="ci.hasError('required') && (ci.dirty || ci.touched)" class="invalid-feedback d-block">
            El campo es obligatorio
        </small>
        <small *ngIf="ci.invalid && !ci.hasError('required') && ci.dirty" class="invalid-feedback d-block">
            La cédula no debe contener letras
        </small>
    </div>
    <div class="form-group">
        <label for="birthday">Fecha de Nacimiento</label>
        <input type="date" id="birthday" placeholder="Ingrese fecha de nacimiento" [ngClass]="{'is-valid': birthday.valid, 'form-control': true}" formControlName="birthday">
        <small *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)" class="invalid-feedback d-block">
            El campo es obligatorio
        </small>
    </div>
    <div class="form-group">
        <label for="email">Correo</label>
        <input type="email" id="email" placeholder="Ingrese correo" [ngClass]="{'is-valid': email.valid, 'form-control': true}" formControlName="email">
        <small *ngIf="email.hasError('required') && (email.dirty || email.touched)" class="invalid-feedback d-block">
            El campo es obligatorio
        </small>
        <small *ngIf="email.invalid && !email.hasError('required') && email.dirty" class="invalid-feedback d-block">
            El correo no tiene un formato correcto. ejemplo: example@email.com
        </small>
    </div>
    <div class="form-group">
        <label for="phone">Teléfono</label>
        <input type="text" id="phone" placeholder="Ingrese teléfono" [ngClass]="{'is-valid': phone.valid, 'form-control': true}" formControlName="phone">
        <small *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="invalid-feedback d-block">
            El campo es obligatorio
        </small>
    </div>
    <div class="form-group">
        <label for="organization">Organización</label>
        <select [ngClass]="{'is-valid': organization.valid, 'form-control': true}" formControlName="organization">
            <option *ngFor="let organization of organizations" [value]="organization.id">{{organization.name}}</option>
        </select>
        <small *ngIf="organization.invalid && (organization.dirty || organization.touched)" class="invalid-feedback d-block">
            El campo es obligatorio
        </small>
    </div>
    <div class="form-group text-right">
        <button [routerLink]="['/usuario/lista']" class="btn btn-secondary mr-2">Regresar</button>
        <button type="button" (click)="userForm.reset()" class="btn btn-primary mr-2">Limpiar</button>
        <button type="submit" class="btn btn-success mr-2" [disabled]="!userForm.valid">Guardar</button>
    </div>
</form>