<form [formGroup]="userForm" action="">
    <div class="form-group">
        <label for="name">Ingrese nombre completo</label>
        <input type="text" id="name" placeholder="Nombre Completo" [ngClass]="{'is-valid': userForm.get('name').valid, 'form-control': true}" formControlName="name">
        <span *ngIf="userForm.get('name').hasError('required') && (userForm.get('name').dirty || userForm.get('name').touched)" class="error-msg">
            El campo es obligatorio
        </span>
        <span *ngIf="userForm.get('name').hasError('pattern') && userForm.get('name').dirty" class="error-msg">
            El nombre no debe contener números
        </span>
        <span *ngIf="userForm.get('name').hasError('minlength') && userForm.get('name').dirty" class="error-msg">
            El nombre debe contener al menos dos letras
        </span>
    </div>
    <div class="form-group">
        <label for="ci">Cédula</label>
        <input type="text" id="ci" placeholder="Ingrese cédula" [ngClass]="{'is-valid': userForm.get('ci').valid, 'form-control': true}" formControlName="ci">
        <span *ngIf="userForm.get('ci').hasError('required') && (userForm.get('ci').dirty || userForm.get('ci').touched)" class="error-msg">
            El campo es obligatorio
        </span>
        <span *ngIf="userForm.get('ci').invalid && !userForm.get('ci').hasError('required') && userForm.get('ci').dirty" class="error-msg">
            La cédula no debe contener letras
        </span>
    </div>
    <div class="form-group">
        <label for="birthday">Fecha de Nacimiento</label>
        <input type="date" id="birthday" placeholder="Ingrese fecha de nacimiento" [ngClass]="{'is-valid': userForm.get('birthday').valid, 'form-control': true}" formControlName="birthday">
        <span *ngIf="userForm.get('birthday').invalid && (userForm.get('birthday').dirty || userForm.get('birthday').touched)" class="error-msg">
            El campo es obligatorio
        </span>
    </div>
    <div class="form-group">
        <label for="email">Correo</label>
        <input type="email" id="email" placeholder="Ingrese correo" [ngClass]="{'is-valid': userForm.get('email').valid, 'form-control': true}" formControlName="email">
        <span *ngIf="userForm.get('email').hasError('required') && (userForm.get('email').dirty || userForm.get('email').touched)" class="error-msg">
            El campo es obligatorio
        </span>
        <span *ngIf="userForm.get('email').invalid && !userForm.get('email').hasError('required') && userForm.get('email').dirty" class="error-msg">
            El correo no tiene un formato correcto. ejemplo: example@email.com
        </span>
    </div>
    <div class="form-group">
        <label for="phone">Teléfono</label>
        <input type="text" id="phone" placeholder="Ingrese teléfono" [ngClass]="{'is-valid': userForm.get('phone').valid, 'form-control': true}" formControlName="phone">
        <span *ngIf="userForm.get('phone').invalid && (userForm.get('phone').dirty || userForm.get('phone').touched)" class="error-msg">
            El campo es obligatorio
        </span>
    </div>
    <div class="form-group">
        <label for="organization">Organización</label>
        <select [ngClass]="{'is-valid': userForm.get('organization').valid, 'form-control': true}" formControlName="organization">
            <option *ngFor="let organization of organizations" [value]="organization.id">{{organization.name}}</option>
        </select>
        <span *ngIf="userForm.get('organization').invalid && (userForm.get('organization').dirty || userForm.get('organization').touched)" class="error-msg">
            El campo es obligatorio
        </span>
    </div>
    <div class="row">
        <div class="col-md-12 offset-md-1">
            <button [routerLink]="['/usuario/lista']" class="btn btn-secondary mr-2">Regresar</button>
            <button type="button" (click)="reset()" class="btn btn-primary mr-2">Limpiar</button>
            <button type="button" (click)="emitEvent(userForm)" class="btn btn-success mr-2" [disabled]="!userForm.valid">Guardar</button>
        </div>
    </div>
</form>