<h3 class="text-dark mt-5">Listado de Roles</h3>
<div class="row">
    <div class="col-md-12 text-right mb-3">
        <button [routerLink]="['/roles/crear']" class="btn btn-primary button-shadow"><i class="fa fa-plus mr-2"></i>Crear Rol</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-striped bg-white">
                <thead>
                    <tr class="bg-primary text-white">
                        <th>ID</th>
                        <th class="text-left">Nombre</th>
                        <th class="text-left">Descripción</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: total }">
                        <td>
                            #{{role.id}}
                        </td>
                        <td>
                            {{role.name}}
                        </td>
                        <td>
                            {{role.description}}
                        </td>
                        <td class="text-center">
                            <a [routerLink]="['/roles/editar', role.id]" class="badge badge-success pt-2 pb-2 mr-1"><i class="fa fa-edit mr-1"></i>Editar </a>
                            <a type="button" (click)="active(role)" class="badge badge-danger pt-2 pb-2 cursor mr-1 text-white" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-trash mr-1"></i>Borrar</a>           
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls 
                class="my-pagination"
                (pageChange)="pageChanged($event)"
                previousLabel="Anterior"
                nextLabel="Siguiente"
            ></pagination-controls>
            <app-modal-delete
                [object]="role"
                title="rol"
                (remove)="remove($event)">
            </app-modal-delete>
        </div>
    </div>
</div>



