.my-pagination /deep/ .ngx-pagination {
    text-align: right;
}

.table {
    box-shadow: 5px 6px 16px 0px #c4c2c4;
}

.button-shadow {
    box-shadow: 5px 6px 16px 0px #c4c2c4;
}

.cursor {
    cursor: pointer;
}