<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
          <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-10">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active bg-light" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div class="row">
                    <div class="col-md-12">
                        <router-outlet></router-outlet>
                    </div>
                </div>       
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <app-footer></app-footer>
        </div>
      </div>
  </div>
</div>
